*{
  margin: 0;
  padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(242, 133, 9);   
}

h1 {
    text-align: center;
}

p {
    margin: 10px;
}

.description {
    text-align: center;
    margin-bottom: 20px;
}

label {
    text-align: center;
    margin-top: 5px;
}

#bill-amount{
    margin: 10px;
    height: 5vh;
}

#cash-given{
    margin: 10px;
    height: 5vh;
}

#check-button {
    align-self: center;
    height: 5vh;
    width: 10vh;
}

span {
    margin: 10px;
}

table{
   table-layout: fixed;
   border-collapse: collapse;
   margin: 10px;
  }

  th, td {
    padding: 10px;
    text-align: center;
    
    border: 1px solid;
    width: 10%;

  }

  th:hover {
      background-color: red;
      color: white;
  }